@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&family=Inter:wght@500;600;800&display=swap');
@import "react-slideshow-image/dist/styles.css";

@tailwind base;

@layer base {
  p {
    @apply my-4;
  }
}

@tailwind components;
@tailwind utilities;

body, html {
  background-color: #F7F7F7;
  color:  #606A67;
}
body div {
  white-space: pre-wrap;
}
/* a {
  color: #026670;
} */
.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.body {
  line-height: 1.625;
}
