@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&family=Inter:wght@500;600;800&display=swap');
@import "react-slideshow-image/dist/styles.css";

@tailwind base;

@layer base {
  p {
    @apply my-4;
  }
}

@tailwind components;
@tailwind utilities;

body, html {
  background-color: #F7F7F7;
  color:  #606A67;
}
body div {
  white-space: pre-wrap;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* a {
  color: #026670;
} */

.studio-container .w-full p:not(.h3),
.studio-container .w-full li {
  line-height: 2;
}

.studio-container .w-full p.h3:not(:first-child) {
  margin: 3rem 0 1rem;
}

.studio-container .w-full ol,
.studio-container .w-full ul {
  list-style: auto;
  margin: revert;
  padding: revert;
}

.studio-container .w-full + div p {
  line-height: 1.25;
}

.studio-container .w-full + div p a {
  color: #026670;
  cursor: pointer;
  font-weight: 600;
}
