@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&family=Inter:wght@500;600;800&display=swap');
@import "react-slideshow-image/dist/styles.css";

@tailwind base;

@layer base {
  p {
    @apply my-4;
  }
}

@tailwind components;
@tailwind utilities;

body, html {
  background-color: #F7F7F7;
  color:  #606A67;
}
body div {
  white-space: pre-wrap;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* a {
  color: #026670;
} */

hr {
  border-color: #F4B477;
  margin: 3rem 0;
}

/* Studio and Media Archive page */

.content-container .w-full p:not(.h3),
.content-container .w-full li {
  line-height: 2;
}

.content-container .w-full p.h3:not(:first-child) {
  margin: 3rem 0 1rem;
}

.content-container .w-full ol,
.content-container .w-full ul {
  list-style: auto;
  margin: revert;
  padding: revert;
}

.content-container .w-full + div p {
  line-height: 1.25;
}

.content-container .w-full + div p a {
  color: #026670;
  cursor: pointer;
  font-weight: 600;
}

/* About the Initiative and Big Picture pages */
.about-container .w-full p:not(.h3) {
  line-height: 2;
}

.about-container img {
  max-width: 425px;
  width: 100%;
  margin: 0 auto;
}

.about-container .lg\:w-1\/2 {
  margin-bottom: 6rem;
}

.quote-shadow {
  text-shadow: 1px 1px 1px #f7f7f7,
            -1px 1px 1px #f7f7f7,
            -1px -1px 1px #f7f7f7,
            1px -1px 1px #f7f7f7,
            2px 1px 3px rgba(247, 247, 247, 0.5),
            2px -1px 3px rgba(247, 247, 247, 0.5);
}
