@import url('https://fonts.googleapis.com/css2?family=Overpass&family=Work+Sans:wght@400;700&display=swap');
@tailwind base;

@layer base {
  p {
    @apply my-4;
  }
}

@tailwind components;

@font-face {
  font-family: 'Bourbon';
  font-display: swap;
  src: url('https://res.cloudinary.com/engagement-lab-home/raw/upload/v1617300924/mapping-impactful-media/font/BourbonGrotesque-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'GeoticaW01-FourOpen';
  src: url('https://res.cloudinary.com/engagement-lab-home/raw/upload/mapping-impactful-media/font/Geotica-W01-Four-Open.eot');
  src: url('https://res.cloudinary.com/engagement-lab-home/raw/upload/mapping-impactful-media/font/Geotica-W01-Four-Open?#iefix') format('embedded-opentype'),
    url('https://res.cloudinary.com/engagement-lab-home/raw/upload/mapping-impactful-media/font/Geotica-W01-Four-Open.woff2') format('woff2'),
    url('https://res.cloudinary.com/engagement-lab-home/raw/upload/mapping-impactful-media/font/Geotica-W01-Four-Open.woff') format('woff'),
    url('https://res.cloudinary.com/engagement-lab-home/raw/upload/mapping-impactful-media/font/Geotica-W01-Four-Open.ttf') format('truetype'),
    url('https://res.cloudinary.com/engagement-lab-home/raw/upload/mapping-impactful-media/font/Geotica-W01-Four-Open.svg#GeoticaW01-FourOpen') format('svg');
}

@tailwind utilities;

/* Catch-all for links, h3 in markdown */
body {
  color: white;
  background-color: #212121;
}
a {
  color: white;
  text-decoration: underline;
}

h3 {
  font-family: 'Bourbon';
  margin-top: 1rem;
}

.list ul {
  list-style: inside;
}

/* .list ul li:before {
  content: "•";
  font-size: 3rem;
} */

.list ol {
  list-style: decimal;
  padding-left: 2rem;
}
