@import url('https://fonts.googleapis.com/css2?family=Overpass&family=Work+Sans:wght@400;700&display=swap');
@tailwind base;

@layer base {
  p {
    @apply my-4;
  }
}

@tailwind components;

@font-face {
  font-family: 'IBM Plex Sans';
  font-display: swap;
  src: url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&display=swap');
  
}

@tailwind utilities;

/* Catch-all for links, h3 in markdown */
body {
  color:  #FEF9C7;
}